@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
}
html{
    font-size: 1rem;
}
header{
    font-family: 'Roboto', sans-serif;
}
header .descuento {
    background-color: #1CD1B0;
    font-size: 15px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}
header .logo{
    background-color: #00669F;
    height: 101px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 400;
}
header nav{
    background-color: #001D2D;
        
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
    list-style-type: none;
}
header nav ul li a{
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    font-family: 'Inter', sans-serif;
}
main section{
    background-color: #00669F;
    width: 954px;
    height: 60vh;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}
main section article form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main section .title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
main section .title h1{
    font-size: 40px;
    font-weight: bold;
}
main section .tittle p{
    font-weight: 300;
    font-size: 20px;
}
main section article form{
    display: flex;
}
main section article form .name{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #00669F;
    color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10%;
    
   }
   @media (max-width: 720px) {
       #harley{
           display: none;
       }
   }