
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
html{
    font-size: 1rem;
}
header div {
    background-color: #1CD1B0;
    font-size: 15px;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
header h1{
    background-color: #00669F;
    height: 101px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: 400;
}
main .cardConteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
main .cardConteiner .card{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 50vh;
    background-color: #F3F3F3;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    
}
main .cardConteiner .card .logoPersonaje{
    position: absolute;     
    z-index: 1; 
    align-self: center;
    top: 130px;
    border-radius: 50%;
}
main .cardConteiner .card h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 25%;
}
main .cardConteiner .card p{
    margin: 10% 10%;
}
button{
    background-color: #00669F;
    color: #F3F3F3;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    background-color: #00669F;
    color: #F3F3F3;
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    
   }
   @media (max-width: 720px) {
       #harley{
           display: none;
       }
   }